NEXTAUTH_URL=
NEXTAUTH_SECRET=
DATABASE_URL=
ADMIN_EMAILS=
NEXT_PUBLIC_APP_URL=
STRIPE_BILLING_PORTAL_RETURN_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ADULT_UNLIMITED=
STRIPE_PRICE_YOUTH_2X=
STRIPE_PRICE_DROP_IN=
STRIPE_PRICE_EIGHT_WEEK_RESET=
STRIPE_PRICE_DAILY_DRILLS_MONTHLY=