NEXTAUTH_URL=
NEXTAUTH_SECRET=
DATABASE_URL=
ADMIN_EMAILS=
NEXT_PUBLIC_APP_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_DROPIN=
STRIPE_PRICE_MEMBERSHIP_MONTHLY=
STRIPE_PRICE_MEMBERSHIP_YEARLY=